@keyframes text-shimmer {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}
.animate-text-shimmer {
  background-size: 200% auto;
  animation: text-shimmer 4s linear infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(-20px) translateX(10px); }
}
.animate-float {
  animation: float 8s ease-in-out infinite;
}
.animate-float-slow {
  animation: float 12s ease-in-out infinite;
}