@keyframes zoomIn {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}
.animate-zoomIn {
  animation: zoomIn 20s infinite alternate;
}

@keyframes fadeIn {
  to { opacity: 1; }
}
.animate-fadeIn {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}
