<div class="max-w-7xl mx-auto mb-20">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-center mb-6 text-transparent bg-gradient-to-r from-orange-500 via-amber-400 to-yellow-500 bg-clip-text animate-gradient-shine">
        {{title}}
      </h2>
      <div class="w-24 h-1 bg-yellow-500 mx-auto rounded-full"></div>
      <p class="my-10 text-lg text-gray-700 max-w-2xl mx-auto text-center">
        {{description}}
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div *ngFor="let service of industries; let i = index">
        <p-card class="h-full industry-card">
        <ng-template pTemplate="header">
            <div class="relative overflow-hidden rounded-t-lg">
            <img 
                [src]="service.image" 
                [alt]="service.imageAlt" 
                class="w-full h-60 object-cover hover:scale-105 transition-transform duration-300"
            />
            </div>
        </ng-template>
        
        <div class="p-6">
            <div class="flex items-center mb-4">
            <i [class]="service.icon + ' text-2xl mr-3'" [ngClass]="service.iconColor"></i>
            <h3 class="text-xl font-semibold text-gray-900">{{ service.displayName }}</h3>
            </div>
            
            <div class="space-y-4">
            <div 
                *ngFor="let item of service.items" 
                class="border-l-4 pl-4"
                [ngClass]="service.borderColor">
                <h4 class="font-medium text-gray-800 mb-2">{{ item.title }}</h4>
                <p class="text-gray-600 text-sm">{{ item.description }}</p>
            </div>
            </div>
        </div>
        </p-card>
      </div>
    </div>
    <div class="text-center mb-12" *ngIf="footer">
      <p class="my-10 text-lg text-gray-700 max-w-2xl mx-auto text-center">
        {{footer}}
      </p>
    </div>
</div>